/pillars/secret.sls
/config/metabase/docker/*.txt
/hosts/bors/files/config/Default.toml
**/.env
**/.token
**/backup*

hosts/bors/files/scripts/.videopass

#/config/graylog/docker/.env
#/config/jenkins/docker/.env
