[Unit]
Description=grafana Service
After=syslog.target network.target docker.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=no
ExecStart=/usr/bin/sudo /bin/bash -lc '/opt/grafana/scripts/service.sh start'
ExecStop=/usr/bin/sudo /bin/bash -lc '/opt/grafana/scripts/service.sh stop'
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
